doctype html
html(lang="en")
  head
    title. Remote Server Console
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='style.css')
    script(src="/socket.io/socket.io.js")
  body
    .container.theme-showcase
      .jumbotron
        h1 Remote Server Console
        p Control it
        p
          div(class='pushpowerbutton btn btn-primary btn-lg', role='button') Push Power Button
        p
          div(class='computerpowerstatus btn btn-primary btn-lg', role='button') Computer Power Status
      .serialParams
      .serialdata
  script(src="/jquery/jquery-2.0.3.min.js")
  script(src="/bootstrap/js/bootstrap.min.js")
  script(src="client_config.js")
  script(src="client.js")