doctype html
html(lang="en")
  head
    title. Remote Server Console
    link(type='text/css', rel='stylesheet', href='style.css')
    script(src="/socket.io/socket.io.js")
  body(class=viewdata.cps)
    .container
      p Implemented Passing Variables to Jade
  script(src="/jquery/jquery-2.0.3.min.js")
  script(src="client_config.js")
  script(src="client.js")