doctype html
html(lang="en")
  head
    title. Remote Server Console
    link(rel='stylesheet', href='style.css')
    script(src="/socket.io/socket.io.js")
  body
    
  script(src="/jquery/jquery-2.0.3.min.js")
  script(src="client_config.js")
  script(src="client.js")