body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	-webkit-transition: background 0.666s;
	&.on {
		background: #f8cfff;
		color: darkgrey;
	}
	&.sleeping {
		background: #020221;
		color: white;
	}
	&.off {
		background: black;
		color: white;
	}
}