body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	-webkit-transition: background 0.666s;
	&.on {
		background: #f8cfff;
		color: darkgrey;
	}
	&.sleeping {
		background: #020221;
		color: white;
	}
	&.off {
		background: black;
		color: white;
	}
}

@media only screen and (max-width: 950px ) {
	
}

@media screen and (max-width: 768px), screen and (max-device-width: 768px) {
	
}

@media screen and (-webkit-device-pixel-ratio: 2) and (max-device-width: 768px) {

}