doctype html
html(lang="en")
  head
    title. Remote Server Console
    link(rel='stylesheet', href='/styles/reset.css')
    link(rel='stylesheet', href='/styles/style.css')
    script(src="/socket.io/socket.io.js")
  body(class=viewdata.cps)
    .container
      .button.lightblue.computerpowerstatus Computer Power State
      .button.blue.powerbutton.pushpowerbutton(class=viewdata.pbenabled) Press Power Button
      .button.black.powerbutton.turnoffcomputer(class=viewdata.pbenabled) Turn Computer Off
      .button_cover.hidden
    .serialParams.hidden
  script(src="/scripts/jquery/jquery-2.0.3.min.js")
  script(src="/scripts/client_config.js")
  script(src="/scripts/client.js")