doctype html
html(lang="en")
  head
    title. Remote Server Console
    link(rel='stylesheet', href='/styles/reset.css')
    link(rel='stylesheet', href='/styles/style.css')
    script(src="/socket.io/socket.io.js")
  body(class=viewdata.cps)
    .container
      p Implemented Passing Variables to Jade
  script(src="/scripts/jquery/jquery-2.0.3.min.js")
  script(src="/scripts/client_config.js")
  script(src="/scripts/client.js")